$black: #141414;
$yellowGreen: yellowgreen;
$yellow: yellow;
$royalblue: royalblue;
$magenta: magenta;

@font-face {
  font-family: 'Powderworks BRK';
  src: url('/assets/fonts/powderworks/PowderworksBRK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plasma Drip BRK';
  src: url('/assets/fonts/plasmadrip/PlasmaDripBRK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Generations';
  src: url('/assets/fonts/generations/GenerationsPlain.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.plastic-font-hover:hover {
  font-family: 'Powderworks BRK';
}

.nfs-font-hover:hover {
  font-family: 'Generations';
}

.blood-font-hover:hover {
  font-family: 'Plasma Drip BRK';
}

.plastic-font {
  font-family: 'Powderworks BRK';
}

.nfs-font {
  font-family: 'Generations';
}

.blood-font {
  font-family: 'Plasma Drip BRK';
}

.conti {
  height: 640px !important;
}

.morph {
  // display: inline-block;
  // width: 250px;
  // height: 250px;
  // background: orange;
  // cursor: pointer;
  clip-path: url('./image2vector.svg#mask');
  // animation: polygons 4s alternate infinite;
}

@keyframes polygons {
  25% {
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: pink;
  }
  50% {
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: orange;
  }
  75% {
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: cornflowerblue;
  }
}